/node_modules
/build
/public/js
/public/css
/public/vendor
/public/mix-manifest.json
/public/id_rsa_intranet
/public/id_rsa_intranet.pub
/stubs
/vendor
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
act.exe
ngrok.exe
service-account-credentials.json
.editorconfig
.env
.env.backup
*.db
.DS_Store
.phpunit.result.cache
.project
.buildpath
.settings/
.idea/*
_ide_helper.php
_ide_helper_models.php
.styleci.yml
.phpstorm.meta.php
.php_cs.cache
